@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Strona Główna";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Panel wyboru gier</h2>
        </hgroup>
        <p>
            Jeśli masz rodzinę na utrzymaniu, uciekaj stąd.
        </p>
    </div>
</section>
}

<h3>Wybierz, gdzie chcesz przegrać:</h3>

<ol class="round">
    <li class="one">
        <h5>Pierwsza gra</h5>
        Opis gry. Opis gry. Opis gry. Opis gry. 
        <a href="https://go.microsoft.com/fwlink/?LinkId=245139">zagraj…</a>
    </li>

    <li class="two">
        <h5>Druga gra</h5>
        Opis gry. Opis gry. Opis gry. Opis gry. 
        <a href="https://go.microsoft.com/fwlink/?LinkId=245140">zagraj…</a>
    </li>

    <li class="three">
        <h5>Trzecia gra</h5>
        Opis gry. Opis gry. Opis gry. Opis gry. 
        <a href="https://go.microsoft.com/fwlink/?LinkId=245143">zagraj…</a>
    </li>
    <li class="four">
        <h5>Czwarta gra</h5>
        Opis gry. Opis gry. Opis gry. Opis gry. 
        <a href="https://go.microsoft.com/fwlink/?LinkId=245143">zagraj…</a>
    </li>
</ol>