@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ruletka";
    string title = "";

    if (Session["username"] == null)
    {
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">


                        @{title = "Zaloguj się lub zarejestruj żeby zagrać...";
                            <hgroup class="title">
                                <h1>@title</h1>
                            </hgroup>
                            Session["gra"] = "ruletka";
                        }
                    </div>
                </div>

            </div>
        </div>
                            }
                            else
                            {
                                <script>
								var UserPassword = '@Session["userPassword"]';
								var UserName = '@Session["username"]';
                                </script>
                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <iframe class="iframe" onload="resizeIframe(this)" src="~/Ruletka/"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="box">
                                            <div class="col-lg-12 text-center">
                                                <center><h2>RULETKA</h2></center>
                                                Pierwsze skojarzenie z kasynem? Oczywiście ruletka. Spróbuj swoich sił w tej najbardziej kultowej grze.
                                                Wpisz wartości zakładów na planszy po prawej stronie, naciśnij „Zakręć” i sprawdź, na którym polu zatrzymała się kulka!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
}